In [1]:
%run -i 'setup.py'

import pandas as pd
import numpy as np

from src import country_data
from src.settings import BASE_DIR

In [2]:
budgets = country_data.country_budgets()
budgets

                         defence_budget  economic_affairs_budget  \
code country       year
AUS  Australia     2000          810.00                  2305.06
                   2001          876.34                  2520.57
                   2002          952.50                  2471.85
                   2003          941.96                  2630.58
                   2004          954.41                  2729.79
...                                 ...                      ...
USA  United States 2014        60919.16                 59642.97
                   2015        59874.15                 58900.14
                   2016        59902.90                 62828.36
                   2017        61595.47                 64257.30
                   2018        64942.93                 67749.42

                         education_budget  environment_protection_budget  \
code country       year
AUS  Australia     2000           2703.66                         278.31
                   2001           2873.72                         317.33
                   2002           3054.12                         359.97
                   2003           3197.41                         363.18
                   2004           3420.64                         419.68
...                                   ...                            ...
USA  United States 2014         107557.50                           0.00
                   2015         111188.11                           0.00
                   2016         114157.80                           0.00
                   2017         117005.45                           0.00
                   2018         123364.21                           0.00

                         general_public_services_budget  health_budget  \
code country       year
AUS  Australia     2000                         2594.59        3054.12
                   2001                         2384.78        3321.49
                   2002                         2434.51        3519.82
                   2003                         2443.23        3783.56
                   2004                         2607.13        4202.01
...                                                 ...            ...
USA  United States 2014                       101519.01      155813.85
                   2015                       101614.44      166514.54
                   2016                       105975.28      174124.38
                   2017                       109919.14      181783.57
                   2018                       115892.79      191662.75

                         housing_and_community_amenities_budget  \
code country       year
AUS  Australia     2000                                  420.02
                   2001                                  487.21
                   2002                                  463.23
                   2003                                  437.90
                   2004                                  502.36
...                                                         ...
USA  United States 2014                                 9269.78
                   2015                                 9473.39
                   2016                                 9745.64
                   2017                                11629.72
                   2018                                12261.75

                         public_order_and_safety_budget  \
code country       year
AUS  Australia     2000                          828.84
                   2001                          904.87
                   2002                          978.01
                   2003                         1040.06
                   2004                         1085.05
...                                                 ...
USA  United States 2014                        35493.18
                   2015                        36732.33
                   2016                        37710.33
                   2017                        39115.86
                   2018                        41241.64

                         recreation_culture_and_religion_budget  \
code country       year
AUS  Australia     2000                                  468.08
                   2001                                  443.33
                   2002                                  477.97
                   2003                                  513.95
                   2004                                  522.06
...                                                         ...
USA  United States 2014                                 4668.18
                   2015                                 4880.08
                   2016                                 5118.04
                   2017                                 5319.25
                   2018                                 5608.33

                         social_protection_budget  gross_debt  \
code country       year
AUS  Australia     2000                   5515.92    22104.04
                   2001                   5651.10    22934.30
                   2002                   5818.90    23178.93
                   2003                   6425.13    22578.58
                   2004                   6607.54    21687.28
...                                           ...         ...
USA  United States 2014                 136985.51  2376203.67
                   2015                 141829.42  2489273.49
                   2016                 145200.15  2592405.47
                   2017                 148861.74  2644538.41
                   2018                 156951.75  2817123.83

                         total_expenditure  total_revenue
code country       year
AUS  Australia     2000           19676.48       19012.85
                   2001           20505.11       20074.95
                   2002           21067.50       21494.66
                   2003           22406.06       22920.74
                   2004           23820.31       24456.83
...                                    ...            ...
USA  United States 2014          671869.14      581279.96
                   2015          691006.65      606661.90
                   2016          714762.88      615551.38
                   2017          739487.53      658644.70
                   2018          779675.58      694439.28

[555 rows x 13 columns]

In [3]:
nn_mort = country_data.neonatal_mortality()
nn_mort

,,,uncertainty,neonatal_mortality_rate
code,country,year,,
AFG,Afghanistan,1950,Median,NaN
ALB,Albania,1950,Median,NaN
DZA,Algeria,1950,Median,NaN
AND,Andorra,1950,Median,NaN
AGO,Angola,1950,Median,NaN
...,...,...,...,...
VEN,Venezuela (Bolivarian Republic of),2018,Median,15.062442
VNM,Viet Nam,2018,Median,10.560813
YEM,Yemen,2018,Median,27.024148
ZMB,Zambia,2018,Median,23.492740
ZWE,Zimbabwe,2018,Median,20.875745

In [4]:
u5_mort = country_data.u5_mortality()
u5_mort

                                             uncertainty  u5_mortality_rate
code country                            year
AFG  Afghanistan                        1950      Median                NaN
ALB  Albania                            1950      Median                NaN
DZA  Algeria                            1950      Median                NaN
AND  Andorra                            1950      Median                NaN
AGO  Angola                             1950      Median                NaN
...                                                  ...                ...
VEN  Venezuela (Bolivarian Republic of) 2018      Median          24.509065
VNM  Viet Nam                           2018      Median          20.683017
YEM  Yemen                              2018      Median          54.958638
ZMB  Zambia                             2018      Median          57.841743
ZWE  Zimbabwe                           2018      Median          46.227775

[13455 rows x 2 columns]

In [5]:
pd.concat([budgets, nn_mort, u5_mort], axis=1, join='inner').drop('uncertainty', axis=1)

,,,defence_budget,economic_affairs_budget,education_budget,environment_protection_budget,general_public_services_budget,health_budget,housing_and_community_amenities_budget,public_order_and_safety_budget,recreation_culture_and_religion_budget,social_protection_budget,gross_debt,total_expenditure,total_revenue,neonatal_mortality_rate,u5_mortality_rate
code,country,year,,,,,,,,,,,,,,,
HUN,Hungary,2004,215.14,885.68,966.49,101.11,1592.62,908.31,132.95,324.55,286.18,2579.83,10558.69,7992.86,6919.62,4.416706,7.946512
GRC,Greece,2015,729.67,2141.21,1218.41,427.98,2914.57,1373.61,68.81,606.66,189.52,5895.48,53158.65,15566.75,13932.18,2.628919,4.581862
SWE,Sweden,2003,539.80,1161.83,1928.61,85.29,2265.03,1899.65,235.23,378.37,280.69,6496.53,17996.89,15271.03,14912.35,2.152080,3.880165
FIN,Finland,2009,321.65,995.52,1314.15,69.06,1567.08,1587.94,99.18,282.71,240.32,4581.86,9943.12,11059.47,10548.82,1.780077,3.210599
USA,United States,2006,54053.49,48587.72,85159.76,0.00,82397.92,102648.34,8049.82,28781.02,4235.85,92656.19,1186822.45,506570.13,460516.84,4.531419,7.862967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PRT,Portugal,2018,296.94,1790.74,1705.50,195.94,2603.37,2060.16,178.04,577.40,289.20,5992.13,48309.96,15102.92,14947.37,2.066804,3.746524
ESP,Spain,2003,1093.07,4853.34,4243.82,1019.77,5859.59,5449.08,1105.55,1902.53,1422.66,13448.18,57437.38,40397.60,40018.35,2.624949,5.004384
NOR,Norway,2007,409.47,992.41,1279.72,148.45,1544.29,1825.70,156.38,225.16,317.98,4000.32,14617.66,10899.95,15402.93,2.119954,3.697592
PRT,Portugal,2011,357.85,1240.95,1867.36,194.02,2478.97,1941.22,173.58,557.44,308.40,5015.90,30479.37,14135.69,12049.15,2.152472,3.790165
BEL,Belgium,2007,396.55,2180.40,2155.69,271.49,3413.06,2619.66,171.14,654.62,480.43,6560.85,36884.38,18903.83,18929.49,2.514553,4.730407